@import "tailwindcss";

body {
  font-family: 'DM Sans', sans-serif;
}


.btn {
  border-radius: 25px;
  background-color: #0898A0;
  color: white;
  padding: 12px 12px;
  cursor: pointer;
}


.primary {
  color: #0898A0;
}

.neutral {
  color: #5E7387;
}

nav {
  color: #1C232B;
  font-weight: 500;
  font-size: 16px;
}

.active {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9999px;
  width: 0.5rem;
  height: 0.5rem;
}
