@import "tailwindcss";

body {
  font-family: 'Tomato Grotesk';
  max-width: 1400px;
}

@font-face {
  font-family: 'Tomato Grotesk';
  font-weight: 1 1000;
  src: url('/public/fonts/TomatoGrotesk.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 100 1000;
  src: url('/public/fonts/DMSans.ttf') format('truetype');
  font-display: swap;
}

.dm-sans{
  font-family: 'DM Sans';
  font-weight: 400;
  line-height: 29px;
  font-size: 19px;
}

.link {
  font-family: 'DM Sans';
  font-size: 14px;
  
}
.linkTwo {
  font-family: 'Tomato Grotesk';
  font-size: 14px;
  font-weight: 200;
}
.btn {
  border-radius: 25px;
  background-color: #0898A0;
  color: white;
  padding: 12px 12px;
  cursor: pointer;
}


.primary {
  color: #0898A0;
}

.neutral {
  color: #5E7387;
}

nav {
  color: #1C232B;
  font-weight: 500;
  font-size: 16px;
}

.active {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9999px;
  width: 0.5rem;
  height: 0.5rem;
}
